.header-section {
  background-image: url(../img/header-bg.png);
  padding-top: 87px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 22.08px;
    letter-spacing: 6%;
    margin-right: 60px;
  }

  &__item:nth-child(5) {
    .header-section__link {
      margin-right: 0;
    }
  }

  &__btn {
    font-size: 20px;
    line-height: 22.08px;
    letter-spacing: 6%;
    color: #fff;
  }
}
