@import "./header";
@import "./catalog";
@import "./sale";
@import "./composition";
@import "./product";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brown: #3b181e;
  --white: #ffffff;
  --card-bg: #281014;
}

@font-face {
  font-family: "Forum";
  src: url(../font/Forum-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: "Forum";
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1770px;
  padding: 0 40px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
